.portfolio-grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  &__item:nth-child(even) {
    margin-left: auto;
  }

  &__item:nth-child(n + 3) {
    margin-top: 50px;
  }

  &__item.portfolio-grid__item--tall {
    width: 45%;
  }

  &__item.portfolio-grid__item--wide {
    width: 48%;
  }

  &__item.portfolio-grid__item--tall .portfolio-grid__item-img {
    max-width: 735px;
  }

  &__item.portfolio-grid__item--wide .portfolio-grid__item-img {
    max-width: 760px;
  }

  &__item.portfolio-grid__item--wide:nth-child(odd) {
    align-self: flex-end;
  }

  &__item-img img {
    display: block;
    width: 100%;
  }

  &__item-desc {
    padding-top: 3rem;
  }
}
