.text-slider {
  position: relative;
  overflow: hidden;

  &__heading a {
    color: rgb(70, 70, 70);
    font-size: 80px;
  }
}

.skills,
.langs {
  font-size: 4.5rem;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 35s infinite linear;
  padding-left: 100%; /*Initial offset*/
  color: #2f2f2f;
}

.langs {
  animation-delay: 5s;
}

.skills:hover,
.langs:hover {
  //animation-play-state: paused;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}
