.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.header {
  &-wrapp {
    max-width: calc(100% - 100px);
    height: 150px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 21;
  }
  &-logo {
    width: 90px;
    color: #c3c3c3;
    font-size: 1.4rem;
    & span {
      color: $goldPrimary;
    }
  }
}
