.hero-section {
  &__content {
    position: relative;
    width: 100%;
    height: 75vh;
  }
  &__content-text {
    max-width: 32rem;
    color: $textGray;
    font-weight: 300;
    margin-top: 1.2rem;
  }
}
