body {
  font-family: $fontPrimary;
  transition: background 0.3s ease;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

.img-link {
  display: block;
  position: relative;
  overflow: hidden;
}

body.menu-active {
  overflow: hidden;
}

.visible-el {
  opacity: 1;
}
.hidden-el {
  opacity: 0;
}
